body{ 
    padding-top: 73px;
    background-color: DeepSkyBlue;
}

#nav {
	background-color: white;
	color: DeepSkyBlue;
}
.nav-link{
	font-size: 20px;
}
.navbar-brand {
	font-size:30px; 
	font-weight:bold;
}

#change_password {
	background-color:rgb(2, 146, 194);
	color:white;
}

form{
	background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align:center;
}

.mdl-grid.center-items {
	justify-content: center;
}

#status{
	color:red;
	font-size:15px;
}